@using MVCLesson.Models
@using Microsoft.Extensions.Options
@model IEnumerable<ToDoItem>
@inject IOptions<AppInfoSettings> settings

<h2>ToDo</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>

<!-- using tag helper -->
<div>
    <vc:priority-list max-priority="@settings.Value.MaxPriority" is-done="@settings.Value.IsDone">
    </vc:priority-list>
</div>

<!-- using razor syntax -->
<div>
    @await Component.InvokeAsync("PriorityList", new { maxPriority=@settings.Value.MaxPriority, isDone=@settings.Value.IsDone })
</div>
